.container {
    padding: 16px;
    text-align: center;
}

.title {
    color: #81848b;
    display: block;
    font-size: 16px;
    margin: 20px 0;
}

.current {
    display: block;
    font-size: 32px;
}

.change {
    display: block;
    font-size: 14px;
}

.prev {
    display: inline-block;
    font-weight: 700;
}

.negative {
    color: #e32c20;
}
