a {
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
}

.container {
    text-align: center;
}

.title {
    font-size: 24px;
}

.text {
    display: block;
}

.links {
    display: block;
    margin: 20px 0;

    li {
        display: inline-block;
        margin: 5px 0;
    }
}
