.container {
    margin: 40px 0;
    padding: 0;
    width: 100%;
}

.table {
    border: 1px solid #eee;
    width: 100%;

    thead,
    tbody,
    tr {
        width: 100%;
    }

    tbody tr:nth-of-type(odd) {
        background: #f8f8f8;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    th,
    td {
        cursor: pointer;
        text-align: left;
        padding: 16px 12px;
        vertical-align: top;
        width: 20%;

        &.tableName {
            width: 40%;
        }
    }

    th {
        font-weight: 700;
        font-size: 12px;
        color: #999;
        padding: 16px 12px;
        text-transform: uppercase;
        vertical-align: bottom;
    }
}

.tableLink {
    text-decoration: none;
}

.tableValue {
    &.tableValueNegative {
        color: #fc4e7b;
    }
}
