@import "../styles/app.scss";

.country {
    max-width: 1024px;
    margin: auto;
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}

.health {
    display: flex;
}

.fullLineGraph {
    border: 1px solid #eee;
    margin: 16px 0;
    height: 450px;
    overflow: hidden;
    width: 100%;
}

.radar {
    width: 40%;
    margin: 0 10px;
    height: 430px;
    overflow: hidden;
}

.content {
    height: 100%;
    padding: 16px;
    background: white;
}

.countryLegend {
    display: inline-block;
    margin: 0 5px;

    &:first-child {
        margin: 0;
    }
}

@media only screen and (max-width: 480px) {
    .health {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .fullLineGraph {
        max-height: 400px;
        width: 100%;
        margin: 10px 0;
        margin: 0;
    }

    .radar {
        width: 100%;
        max-height: 400px;
        margin: 10px 0;
        margin: 0;
    }
}

.summary {
    display: flex;
    flex-wrap: wrap;
    background: white;
    border: 1px solid #eee;
    margin: 0px;

    @media only screen and (min-width: 480px) {
        // margin: 16px 8px;
    }
}

.itemSummary {
    border-bottom: 1px solid #eee;
    width: 50%;

    @media only screen and (min-width: 480px) {
        border: 0;
        width: 25%;
    }
}
