@import "../styles/app.scss";

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: auto;
}

.summaryTable {
    height: auto;
    margin: 32px 0;
    width: 100%;
}

.pageTitle {
    font-size: 32px;
    padding: 20px;
    text-align: center;
}

.summaryTitle {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin: 16px 0;
}
