@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body {
    background: #f7f8fb;
    color: #333a41;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    width: 100%;
}

text {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #555fc1;

    &:visited {
        color: #828ad8;
    }

    &:hover {
        color: #6670d2;
    }
}

h1,
h2,
h3,
h4,
h5,
section,
div,
nav,
tr,
th,
td,
p,
dl,
dt,
dd,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.app {
    max-width: 960px;
    margin: auto;
    width: 100%;
}
